.box {
	background: #fff;
	margin: 10px 0;
}
.box-private {
	border: 1px solid #cceeff;
}
.box-section {
	padding: 20px;
	border-bottom: 1px solid #f6f8fa;
}
.box-section-info {
	font-size: 0.9em;
	padding: 10px 20px;
	background: #cceeff;
}
.box-section:last-child {
	border-bottom: none;
}
.box-section-warning {
	background: #fcf8e3;
}
.box-title {
	font-weight: bold;
	font-size: 1.3em;
	margin: 0;
}
.box-subtitle {
	font-weight: bold;
	font-size: 1.05em;
	margin: 0;
}
