<div class="profile-header">
	<div class="container">
		<img src="/{{vm.org.orgImageURL}}" class="img-rounded profile-header-image">
		<div class="profile-header-content">
			<div class="profile-title">{{vm.org.name}}</div>
			<div class="profile-stats">
				<a href="{{vm.org.website}}" target="_blank">{{vm.org.website}}</a> &nbsp; &#8226; &nbsp;14 Members 
				<span ng-if="vm.canEdit"> &nbsp; &nbsp; 
					<!-- This link should open a modal, size sm, with fields to edit the company name and website -->
					<a href=""><i class="fa fa-pencil"></i> Edit</a>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="profile-body" ng-if="!vm.canEdit">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<div class="box">
					<div class="box-section">
						<div class="box-title">Capabilities</div>
					</div>
					<div class="box-section">
						<capability ng-repeat="capability in vm.org.capabilities"><i class="fa fa-lg fa-check-circle-o success"></i>&nbsp; {{capability.name}}</capability>
					</div>
				</div>
			</div>
			<div class="hidden-xs col-sm-2"></div>
			<div class="col-xs-12 col-sm-5">
				<div class="box">
					<div class="box-section">
						<div class="box-title">Technical Skills</div>
					</div>
					<div class="box-section">
						<skill ng-repeat="capabilitySkill in vm.capabilitySkills"><i class="fa fa-lg fa-check-circle-o success"></i>&nbsp; {{capabilitySkill.name}}</skill>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<section class="detail-page-background">
	
	<div class="container detail-view">
		<div class="detail-view-header" ng-if="vm.canEdit">
			<button type="button" class="btn btn-text-only pull-right" ui-sref="orgadmin.profile({orgId:vm.org._id})" title="Manage Company"><i class="fa fa-2x fa-gear"></i>
			</button>
		</div>
		
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 ></h1>
				<h4 ng-if="vm.org.website"><a href="{{vm.org.website}}" target="_blank" rel="nofollow"><i class="fa fa-external-link"></i> Company Website</a></h4>
				<br>
				<p ng-bind-html="vm.trust(vm.org.description)"></p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 text-center">

				<label-list>
					<label ng-repeat="capability in vm.org.capabilities" class="label label-cap-default {{capability.labelClass}}"><i class="fa fa-circle"></i> {{capability.name}}</label>
					<label ng-repeat="capabilitySkill in vm.org.capabilitySkills" class="label label-preferred-skill-selected">{{capabilitySkill.name}}</label>
				</label-list>
			</div>
		</div>
	</div>

</section>
-->

<!-- View for Company Admin -->
<div class="profile-body" ng-if="vm.canEdit">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="profile-body-heading">Business Info</div>
			</div>
		</div>
		<div class="inline-message">
			<i class="fa fa-lg fa-lock"></i>&nbsp; Public users can't see your business info. We keep this so you don't have to enter it again when you submit proposals.
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="list">
					<div class="list-heading">Legal Address</div>
					<div>{{vm.org.address}}</div>
					<div>{{vm.org.address2}}</div>
					<div>{{vm.org.city}}, {{vm.org.province}}</div>
					<div>{{vm.org.postalcode}}</div>
					<!-- This link should open a modal, size sm, to edit the fields above -->
					<a class="list-footer" href=""><i class="fa fa-pencil"></i> Edit</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="list">
					<div class="list-heading">Business Registration</div>
					<div>{{vm.org.dba}}</div>
					<div>{{vm.org.businessJurisdiction}}</div>
					<div>{{vm.org.businessNumber}}</div>
					<!-- This link should open a modal, size sm, to edit the fields above -->
					<a class="list-footer" href=""><i class="fa fa-pencil"></i> Edit</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="list">
					<div class="list-heading">Contact</div>
					<div>{{vm.org.contactName}}</div>
					<div>{{vm.org.contactPhone}}</div>
					<div>{{vm.org.contactEmail}}</div>
					<a class="list-footer" href=""><i class="fa fa-pencil"></i> Edit</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="profile-body-heading">Members</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="inline-message">
					<i class="fa fa-lg fa-lock"></i>&nbsp; Public users can't see who the members of your company are. Your members' capabilities determine your eligibility to apply on <strong>Sprint With Us</strong> opportunities.
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="alert alert-warning" ng-if="vm.org.members.length<2">
					<i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp; You need at least two members to apply on <strong>Sprint With Us</strong> opportunities.
				</div>
				<div class="list member-list">
					<member ng-repeat="member in vm.org.members">
						<avatar-display size="40" url="member.profileImageURL" text="member.displayName"></avatar-display>
					</member>
				</div>
				<div class="button-spacer">
					<!-- This link should open a modal, size lg, where I'll style the view to invite members -->
					<button class="btn btn-primary">Invite members</button>
					<!-- This link should open a modal, size lg, where I'll style the view of a list of all the members with the ability to delete them from the company -->
					<button class="btn btn-default">Remove members</button>
				</div>
			</div>
			<div class="hidden-xs col-sm-1"></div>
			<div class="col-xs-12 col-sm-5">
				<div class="list invitations-list">
					<div class="list-heading"><i class="fa fa-envelope"></i>&nbsp; Invitations sent</div>
					<!-- This should be a list of all emails that have been sent an invitation, but have not accepted yet. Upon acceptance, the member appears in the list and the email disappears from this list. -->
					<invitee>invitee1@domain.com
						<!-- If an invitee declines, there should be a message beside -->
						<span class="gray-light">&nbsp; Declined</span>
					</invitee>
					<invitee>invitee1@domain.com</invitee>
					<invitee>invitee1@domain.com</invitee>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="profile-body-heading">Capabilities</div>
			</div>
		</div>
		<div class="alert alert-warning" ng-if="!vm.org.isCapable">
			<i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp; To apply on <strong>Sprint With Us</strong> opportunities, your members must collectively possess all of these capabilities:
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="list capabilities-list">
					<capability class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Agile Coaching</capability>
					<capability class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Delivery Management</capability>
					<capability class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> User Research</capability>
					<capability class="possessed"><i class="fa fa-lg fa-check-circle-o success"></i> User Experience Design</capability>
					<capability class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Frontend Web Development</capability>
					<capability class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Backend Web Development</capability>
					<capability class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Technical Architecture</capability>
					<capability class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> DevOps Engineering</capability>
					<capability class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Security Engineering</capability>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="profile-body-heading">Preferred Technical Skills</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="list skills-list">
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Scrum</skill>
					<skill class="possessed"><i class="fa fa-lg fa-circle-o success"></i> Journey mapping</skill>
					<skill class="possessed"><i class="fa fa-lg fa-circle-o success"></i> HTML</skill>
					<skill class="possessed"><i class="fa fa-lg fa-circle-o success"></i> CSS</skill>
					<skill class="possessed"><i class="fa fa-lg fa-circle-o success"></i> UI Design</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> OpenShift</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Javascript</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> React</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Angular</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Mongo</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Vue JS</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Node JS</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> .Net Core</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> RESTful API development</skill>
					<skill class="unpossessed"><i class="fa fa-lg fa-circle-o gray-light"></i> Postgresql</skill>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="profile-body-heading">Sprint With Us Terms</div>
				<div class="alert alert-warning" ng-if="!vm.org.isAcceptedTerms">
					<i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp; To apply on <strong>Sprint With Us</strong> opportunities, you need to accept these terms:
				</div>
				<div class="button-spacer download-link">
					<a href="/api/proposals/download/terms/rfq1" target="_blank"><i class="fa fa-lg fa-download"></i>&nbsp; Sprint With Us Terms</a>
				</div>
				<label class="checkbox-inline checkbox-alone">
					<input type="checkbox" ng-model="vm.org.isAcceptedTerms" ng-click="vm.save()"> I have read, fully understand, and agree to the Terms &amp; Conditions.
				</label>
				<!-- Make it so that button is disabled until user checks the input --- then the button should be what saves the acceptance and triggers the "you accepted the terms..." box section above -->
				<div class="button-spacer">
					<!-- Disable button if checkbox isn't checked yet -->
					<button class="btn btn-primary">Accept</button>
				</div>
				<!-- Display after user has accepted the Terms -->
				<div ng-if="vm.org.isAcceptedTerms">
					You accepted the terms on <strong>{{Date the user accepted terms}}</strong>.
				</div>
			</div>
		</div>
	</div>
</div>