<div class="modal-md">
	<div class="modal-content">
		<div class="modal-header">
			<div class="modal-title">
				Business Registration
				<button class="close"><i class="fa fa-lg fa-times"></i></button>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
					<fieldset>
						<form-input
							class="col-sm-12"
							ng-model="vm.org.dba"
							x-form="vm.orgForm"
							x-options='{
								"title":"Doing Business As",
								"id":"dba",
								"name":"dba",
								"placeholder":"Business Name"
							}'>
						</form-input>
						<form-input
							class="col-sm-6"
							ng-model="vm.org.businessJurisdiction"
							x-form="vm.orgForm"
							x-options='{
								"title":"Registration Jurisdiction",
								"id":"businessJurisdiction",
								"name":"businessJurisdiction",
								"placeholder":"Registered In"
							}'>
						</form-input>
						<form-input
							class="col-sm-6"
							ng-model="vm.org.businessNumber"
							x-form="vm.orgForm"
							x-options='{
								"title":"Business Registration Number",
								"id":"businessNumber",
								"name":"businessNumber",
								"placeholder":"Business Number"
							}'>
						</form-input>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-lg btn-primary">Save</button>
					<button class="btn btn-lg btn-default">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
