<style type="text/css">
    body {
        font-size: 15px;
        color: #484848;
    }
    p {
        font-size: 15px;
        font-weight: normal;
    }
    li {
        font-weight: normal;
    }
    hr {
        border-bottom: 1px solid #dbdbdb;
    }
    .heading {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 1em;
    }
    th, td {
        vertical-align: top;
        padding: 0 25px 15px 0;
        white-space: nowrap;
    }
    th.right-align {
        text-align: right;
    }
    td:last-child {
        white-space: pre-wrap; /* Makes text in last column wrap instead of overflow */
        width: 99%; /* Makes last column adjust size depending on size of columns to the left so that table fits full width of container */
    }
    @media (min-width: 768px) {
        .sticky-sidebar {
            padding: 40px 0;
            position: -webkit-sticky; /* This works for Safari */
            position: sticky; /* This works for Chrome */
            top: 40px; 
            bottom: 40px;
        }
    }
</style>

<div class="sub-nav">
	<div class="container">
		<div class="breadcrumb-nav">
			<a href="/opportunities" class="breadcrumb-nav"><i class="fa fa-chevron-left"></i> All Opportunities</a>
		</div>
	</div>
</div>

<div class="container">
    <section>
    <div class="row">
        <div class="col-sm-7">
            <label class="label label-success">OPEN</label>
            <div style="font-size: 2em; font-weight: bold; margin-bottom: 20px;">Year 1 &#8212; Data Driven Mine Oversight &#8212; Team Expansion</div>
            <div><i class="fa fa-group"></i> Team Opportunity</div>
            <div>Ministry of Energy, Mines &amp; Petroleum Resources</div>
            <div><a href="https://www.bcdevexchange.org/projects/prj-mms-refresh" target="_blank">Mines Digital Services</a></div>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td class="light">Budget:</td>
                        <td class="strong">$1.1 Million</td>
                    </tr>
                    <tr>
                        <td class="light">Location:</td>
                        <td><i class="fa fa-map-marker"></i> Victoria &#8212; Some in-person work required</td>
                    </tr>
                    <tr>
                        <td class="light">Capabilities needed:</td>
                        <td>Frontend Web Development, Backend Web Development, Technical Architecture, DevOps Engineering, Quality Assurance, UI design</td>
                    </tr>
                    <tr>
                        <td class="light">Preferred technical skills:</td>
                        <td>Python, Flask</td>
                    </tr>
                    <tr>
                        <td class="light">Dates:</td>
                        <td>September 2018&#8212;July 2019</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="heading">Background</div>
            <p>We are building the “Mines Digital Services (MDS)” to replace the legacy Mine Management System (MMS) with a scalable, open source, data driven system using modern and flexible technologies.</p>
            <p>Please visit the <a href="https://www.bcdevexchange.org/projects/prj-mms-refresh" target="_blank">MDS Project Page</a> and <a href="https://github.com/bcgov/mds" target="_blank">code repository on GitHub</a> for details.</p>
            <hr>
            <div class="heading">What we're looking for in your team</div>
            <p>Our product team is working to deliver an initial prototype at the end of September. 
            We want your team of experienced developers to join us, get up to speed with the prototype, then help us develop a roadmap for work until July 2019 and deliver on it.</p>
            <p>We’re looking for a team of four full stack developers with solid knowledge in Frontend Web Development and Backend Web Development. In addition, we want to ensure that throughout the contract you can provide us with capabilities in Technical Architecture, Quality Assurance, DevOps Engineering, and UI Design if and as they are needed access to throughout the engagement. (In your proposal, these supplemental capabilities may be demonstrated by being possessed by the four full-time resources you put forward, or by additional team members you put forward.)</p>
            <p><strong>Integrating with our product team in Victoria</strong><br>We are open to working with a distributed, remote team, provided you can work effectively and productively in close concert with our Product team here in Victoria. Should your team be the successful team in this competition, details will be worked out in the Service Agreement.</p>
            <hr>
            <div class="heading">Evaluation Process Timeline</div>
            <p>Here are the dates by which we intend to complete this competition.</p> 
            <table style="width: 100%; overflow: auto;">
                <tbody>
                    <tr>
                        <td>July 30</td>
                        <td>Proposal deadline</td>
                    </tr>
                    <tr>
                        <td>Aug 3</td>
                        <td>Companies notified whether they have been shortlisted</td>
                    </tr>
                    <tr>
                        <td>Aug 4-7</td>
                        <td>Shortlisted teams complete a Code Challenge</td>
                    </tr>
                    <tr>
                        <td>Aug 10-12</td>
                        <td>Shortlisted teams participate in a Team Scenario</td>
                    </tr>
                    <tr>
                        <td>Aug 13</td>
                        <td>Top-scoring team announced</td>
                    </tr>
                </tbody>
            </table>
            <p><a href="/template/swu-about#Evaluation">Learn more about the evaluation process ></a></p>
            <hr>
            <div class="heading">Who Can Apply?</div>
            <p>This opportunity is open to <a href="/orgs">companies who register</a> and meet the qualifications.</p>
            <hr>
            <div class="heading">Scope &amp; Contract</div>
            <p><strong>Scope</strong></p>
            <p>To apply on this opportunity, you must agree to the <a href="/api/proposals/download/terms/swu1" target="_blank" ng-click="ppp.downloadTermsClicked()">Terms &amp; Conditions</a>.</p>
            <p>The purpose of this opportunity is to invite companies who can supply a team possessing the capabilities , skills and other requirements described in the RFP for use in the development of the software Product described in the Background section above.</p>
            <p>This opportunity is not intended to create an exclusive service deal in favour of a single company/team. The use of the company/team’s services for any one or more phases of the opportunity is not guaranteed. This opportunity does not fetter the right of the Province to procure the same or similar services described in this Opportunity by whatever means its deems necessary or desirable &#8212; we reserves the right to source any teams, resources or related services by other means, or do nothing at all!</p>
            <p><strong>Contract</strong></p>
            <p><strong>1.	Form of Contract</strong></p>
            <p>Before applying for this opportunity, please review the <a href="/api/proposals/download/terms/serviceagreement" target="_blank"> contract template</a> that will be used.</p>
            <p>Please also make special note section 1.13 of the <a href="/api/proposals/download/terms/swu1" target="_blank" ng-click="ppp.downloadTermsClicked()">Terms &amp; Conditions</a> regarding contract finalization.</p>
            <p>Without overshadowing any of the Contract content, we'd like to highlight the following service requirements and select contract terms. Certain terminology appearing as defined in this section on the Contract may be defined in Schedule A to the Contract.</p>
            <p><strong>Service Requirements</strong></p>
            <p>If your company becomes the Contractor pursuant to this opportunity, your team will work collaboratively with the Province by delivering services to develop the Product using the Agile scrum process as set out in the Contract.  An Opportunity may include one or more phases during which the Team will help develop the Product iteratively.  If included in the Opportunity, during the Inception Phase, the Team will work from an initial Product Roadmap, and create an initial Product Backlog for the ensuing second Proof of Concept Phase. The outcomes for the Proof of Concept Phase will be a working alpha release of the Product, an updated Product Roadmap and a resourcing plan for the Implementation Phase.  During the Implementation Phase, the Contractor will work with the Province to accomplish the business goals described in the Product Roadmap.</p>
            <p><strong>Select Contract Terms</strong></p>
            <p>The Province may terminate the Contract for any reason by giving 14 Business Days’ written notice of termination to the Contractor at any time after the completion of at least three Sprints in any of the Inception, Proof of Concept or Implementation Phases.</p>
            <p>Proponents should note that the Province will issue payment of 90% the Total Phase Cost for each Phase in monthly payments over the number of months identified on the pricing tab in the RFP, which will be distributed with a 10% holdback to be released upon completion of deliverables, all according to the terms set out in the Contract.</p>
            <p>Early completion of the Inception or Proof of Concept Phases (if applicable): Should the Province issue either the Inception Completion Notice or the Proof of Concept Completion Notice, as applicable, prior to the end of the applicable Phase, as identified in the Contract, the Province will pay the Contractor both the holdback for that Phase as well as the total remaining monthly fees that would have been paid had the deliverables been completed over the number of months for that Phase set out below .</p>
            <p>Early completion of the Implementation Phase only (if applicable):  Should the Province issue the Final Acceptance Notice for the Product prior to the end of the timeframe for the Implementation Phase, as identified in the Contract, the Province will pay the Contractor both the Implementation Phase Holdback as well as an additional fee equal to twenty (20) percent of the total remaining monthly fees that would have been paid had the deliverables been completed over the number of months for that Phase set out below.</p>
        </div>
        <div class="hidden-xs col-sm-1"></div>
        <div class="col-sm-4 sticky-sidebar">
            <div style="margin-bottom: 30px; padding: 5px 0;">
                <img class="img-rounded" src="/img/Jillian.jpeg" style="float: left; height: 70px; margin-right: 20px;">
                <div style="padding-top: 7px; font-size: 21px; font-weight: bold;">Jillian Carruthers</div>
                <div>Product Owner</div>
            </div>
            <p>We are looking for a team of four full stack developers to enhance our product team so we can deliver on our first year’s roadmap.</p>
            <hr>
            <div class="heading"><i class="fa fa-comments"></i> Questions?</div>
            <p>Please send your questions to <a href="mailto:bcdevexchange.empr@gov.bc.ca">bcdevexchange.empr@gov.bc.ca</a>. We will post answers <a style="white-space: pre;" href="/">here on <i class="fa fa-github"></i> GitHub</a> so that everyone has access to the same information.</p>
            <hr>
            <div>
                <button class="btn btn-lg btn-primary pull-right">Apply</button>
                <div style="font-size: .85em;"><span class="light">Deadline for proposals:</span><div> 
                <div>16:00 Pacific Time on <strong>July 30, 2018</strong></div>
            </div>
        </div>        
    </section>
</div>