<style type="text/css">
    body {
        font-size: 15px;
    }
    p {
        font-size: 15px;
        font-weight: normal;
    }
    li {
        font-weight: normal;
    }
    hr {
        border-bottom: 1px solid #dbdbdb;
    }
    .heading {
        font-weight: bold;
        margin-bottom: 15px;
    }
</style>

<div class="sub-nav">
	<div class="container">
		<div class="breadcrumb-nav">
			<a href="/opportunities" class="breadcrumb-nav"><i class="fa fa-chevron-left"></i> All Opportunities</a>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-7" style="padding-top: 40px;">
            <label class="label label-success">OPEN</label>
            <div style="font-size: 2em; font-weight: bold; margin-bottom: 20px;">Year 1 &#8212; Data Driven Mine Oversight</div>
            <div>Team Opportunity</div>
            <div>Ministry of Energy, Mines &amp; Petroleum Resources</div>
            <hr>
            <div style="line-height: 30px;">
                <div><span class="light">Budget:</span> <strong>$1.5 Million</strong></div>
                <div><i class="fa fa-map-marker"></i> Victoria  |   Team will be required to co-locate at 4000 Seymour Place</div>
                <div><span class="light">Capabilities Needed:</span> Delivery Management, Frontend Development, Backend Development, DevOps Engineering, Quality Assurance</div>
                <div><span class="light">Preferred Skills:</span> Docker, React, Jenkins</div>
            </div>
            <hr>
            <div class="heading">Background</div>
            <div>
                <p>The technologies that support mine oversight for British Columbians need to be reimagined. This project will replace the legacy Mine Management System with a scalable, open source, data driven system using modern and flexible technologies referred to as the Mines Digital Services (the “Product”).</p> 
                <p>The Product will have a number of interconnections and relationships to systems across the Natural Resource Ministries and will be important not only to the Ministry of Energy, Mines and Petroleum Resources but also to interagency collaborations across ministries. The future state must be intuitive, and capable of providing meaningful data to relevant stakeholders.</p>
                <p>The Product is anticipated to include:
                    <ol>
                        <li>Enhancements to the public-facing BC Mine Information website (mines.nrs.gov.bc.ca) to broaden the available data and create new or improved functionality to increase usability</li>
                        <li>Enhancements to the BC Mine Information website’s administrative console (mines.empr.gov.bc.ca), including work required to connect with other systems (e.g., the Natural Resource Inspection System, aka NRIS)</li>
                        <li>Support for integrated analysis and decision making across the process of mine oversight</li>
                        <li>Support for the creation of a complex data model that can connect various components of mines. Some examples include consultation information, risk management modelling, spatial data, financial tracking and collecting and physical attributes</li>
                    </ol>
                </p>
                <p>We are seeking new ideas and emerging technologies to improve the applications that support mine oversight. We anticipate that throughout the inception and proof of concept phases, we will further identify scope and feature needs using a design focus and user research.</p>
            </div>
            <hr>
            <div class="heading">Competition</div>
            <p>Here's an overview of how the entire competition process for this opportunity will play out, should you apply and make it on the shortlist.....</p>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Applications</th>
                        <td>July 4 - 17</td>
                        <td>blah blah blah....</td>
                    </tr>
                    <tr>
                        <th scope="row">Screening</th>
                        <td>July 17-18</td>
                        <td>We'll evaluate the answers through a blind/anonymized process. Whether your company is screened </td>
                    </tr>
                    <tr>
                        <th scope="row">Code Challenge</th>
                        <td>July 21-24</td>
                        <td>We'll evaluate the answers through a blind/anonymized process. Whether your company is screened </td>
                    </tr>
                    <tr>
                        <th scope="row">Team Interviews</th>
                        <td>July 26-29</td>
                        <td>We'll evaluate the answers through a blind/anonymized process. Whether your company is screened </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="heading">Evluation & Scoring</div>
            <p>Here's what we're weighing each portion of the competition:</p>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Preferred Skills</th>
                        <td>5 %</td>
                    </tr>
                    <tr>
                        <th scope="row">Questionnaire</th>
                        <td>20 %</td>
                    </tr>
                    <tr>
                        <th scope="row">Code Challenge</th>
                        <td>35 %</td>
                    </tr>
                    <tr>
                        <th scope="row">Team Interview</th>
                        <td>25 %</td>
                    </tr>
                    <tr>
                        <th scope="row">Bid Price</th>
                        <td>10 %</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="hidden-xs col-sm-1"></div>
        <div class="hidden-xs col-sm-4" style="padding: 40px 0; position: -webkit-sticky; position: sticky; top: 40px; bottom: 40px;">
                <div style="margin-bottom: 30px; padding: 5px 0;">
                    <img class="img-rounded" src="/img/Jillian.jpeg" style="float: left; height: 70px; margin-right: 20px;">
                    <div style="padding-top: 7px; font-size: 21px; font-weight: bold;">Jillian Carruthers</div>
                    <div>Product Owner</div>
                </div>
                <p>We are looking to create a modern web based open source application that will be responsive, secure, reliable, scalable, testable, easily deployable and cloud ready. This application will interoperate with other government applications. We're looking for a team willing to dive in, collaborate with business stakeholders, learn quickly, and take pride in having a direct impact on the ability of mine inspectors, staff, and the public to engage and understand mine information.</p>
                <hr>
                <div class="heading"><i class="fa fa-comments"></i> Questions?</div>
                <p>Please send your questions to <a href="mailto:bcdevexchange.empr@gov.bc.ca">bcdevexchange.empr@gov.bc.ca</a>. We will post answers to your questions <a style="white-space: pre;" href="/">here on <i class="fa fa-github"></i> GitHub</a> so that all interested companies have access to the same clarifications.</p>
                <hr>
                <div>
                    <button class="btn btn-lg btn-primary pull-right">Apply</button>
                    <div style="font-size: .85em;"><span class="light">Deadline for proposals:</span><div> 
                    <div>16:00 Pacific Time on <strong>July 30, 2018</strong></div>
                </div>
        </div>        
    </div>
</div>