<div class="modal-md">
	<div class="modal-content">
		<div class="modal-header">
			<button class="close"><i class="fa fa-times"></i></button>
			<div class="modal-title"><span class="light">Remove Members from</span> {{Company name}}</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div class="remove-members-list">
						<!-- This just to demonstrate layout .... need to use the btn-filter-selected and btn-filter-unselected (as in the old opportunities list page) -->
						<member>
							<img class="img img-circle" src="/img/karen-avatar.png">
							<name>Karen Sinclair</name>
							<button class="btn btn-filter-unselected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<member>
							<img class="img img-circle" src="/img/karen-avatar.png">
							<name>Karen Anderson</name>
							<button class="btn btn-filter-selected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<member>
							<img class="img img-circle" src="/img/karen-avatar.png">
							<name>Karen Crawley</name>
							<button class="btn btn-filter-unselected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<member>
							<img class="img img-circle" src="/img/karen-avatar.png">
							<name>Kyla Sinclair</name>
							<button class="btn btn-filter-unselected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<member>
							<img class="img img-circle" src="/img/sad_avatar.png">
							<name>Sad Lee Mistaken</name>
							<button class="btn btn-filter-unselected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<member>
							<img class="img img-circle" src="/img/ted_avatar.png">
							<name>Ted Turner</name>
							<button class="btn btn-filter-unselected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<member>
							<img class="img img-circle" src="/img/cindy_avatar.png">
							<name>Cindy Sinclair</name>
							<button class="btn btn-filter-unselected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<member>
							<img class="img img-circle" src="/img/billy_avatar.png">
							<name>Billy Baxter</name>
							<button class="btn btn-filter-unselected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<member>
							<img class="img img-circle" src="/img/bob_avatar.png">
							<name>Bob Breathmint</name>
							<button class="btn btn-filter-unselected pull-right" uib-btn-checkbox>Remove</button>
						</member>
						<!-- This is the code that should be used -->
						<member ng-repeat="member in vm.org.members">
							<avatar-display size="50" url="member.profileImageURL" text="member.displayName"></avatar-display>
						</member>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-lg btn-default pull-right">Close</button>
			<!-- Ideally, this button would be disabled until at least one member was selected from the list above. And I'm not sure if it's overkill, but we might need a subsequent dialog warning ('Are you sure you want to remove these members?') upon clicking? -->
			<button class="btn btn-lg btn-primary">Remove Selected Members</button>
		</div>
	</div>
</div>
