<style>
    body {
        color: black;
    }
    .headline-inverse {
        color: white;
    }
    h1.headline {
        text-align: center;
        font-size: 4.5em;
        font-weight: 600;
        margin: .75em 0 0;
    }
    h2.headline {
        text-align: center;
        font-size: 2.5em;
        font-weight: 600;
        margin: 1em 0 0;
    }
    .subhead {
        text-align: center;
        font-size: 1.75em;
        margin-bottom: 1em;
        font-weight: 300;
    }
    .subhead-inverse {
        color: white;
    }
    .card-yellow {
        background-color: #fcf8e3;
    }
    .card-grey {
        background-color: #d3d3d3;
    }
    .card-bluegray {
        background-color: #f6f8fa;
    }
    .card-black {
        background-color: black;
        color: white;
    }
    .card-photo {
        background: transparent;
    }
    .card-features {
        height: 318px;
    }
    .border-box-inverse {
        padding: 20px 3px 40px;
        border-top: 1px solid white;
        margin-right: 20px;
    }
    .border-box-inverse-headline {
        color: white;
        font-size: 1.5em;
        font-weight: 600;
    }
    .border-box-inverse-subhead {
        color: #b3b3b3;
        font-size: 1.2em;
        font-weight: 300;
    }
    .section-teaser, .section-teaser-inverse {
        margin: 3em 0 6em;
    }
    .section-teaser-headline, .section-teaser-inverse-headline {
        font-weight: 600;
        font-size: 3em;
        margin-bottom: .15em;
    }
    .section-teaser-subhead, .section-teaser-inverse-subhead {
        font-weight: 300;
        font-size: 1.6em;
        line-height: 1.3em;
    }
    .section-teaser-inverse-headline {
        color: white;
    }
    .section-teaser-inverse-subhead {
        color: #b3b3b3;
    }
</style>

<section id="About" style="background-image: url(/img/team.png); height: 90vh; background-size: cover; opacity: 0.8">
    <div class="container">
        <h1 class="headline headline-inverse">Sprint With Us</h1>
        <div class="subhead subhead-inverse">A new procurement process for a new way of working together.</div>
    </div>
</section>
<section>
    <div class="container">
        <div style="padding: 1em 2em;">
            <h2 class="headline">You heard right &#8212; we're learning to be agile.</h2><div class="subhead">The Government of B.C. is forming dedicated teams around digital services and equipping them with the modern tools needed to continuously deliver improvements. To scale this transformation, we've created Sprint With Us &#8212; a new process to quickly hire teams from the private sector. If you get hired through a Sprint With Us opportunity, here's what you can expect:</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card card-flat card-features card-yellow text-center">
                    <div class="card-body">
                        <img class="card-img-top" style="height: 70px;" src="/img/product-owner.png" alt="Government Product Owners">
                        <div class="card-title">Government Product Managers</div>
                        <p>You'll work closely with a trained government product manager who has the expertise and the responsibility to run the service.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4">
                <div class="card card-flat card-features text-center">
                    <div class="card-body">
                        <img class="card-img-top" style="height: 70px;" src="/img/interdisciplinary.png" alt="Interdisciplinary teams">
                        <div class="card-title">Interdisciplinary Teams</div>
                        <p>Your team will possess all the skills necessary for continuous delivery, such as DevOps engineering, front-end and back-end development, and user experience research and design.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4">
                <div class="card card-flat card-bluegray card-features text-center">
                    <div class="card-body">
                        <img class="card-img-top" style="height: 70px;" src="/img/agile.png" alt="Agile">
                        <div class="card-title">Iteration</div>
                        <p>You'll be adaptable to change, building and validating features iteratively with users.</p>
                    </div>
                </div>
            </div>

            
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card card-flat card-features text-center">
                    <div class="card-body">
                        <img class="card-img-top" style="height: 70px;" src="/img/agile-phases.png" alt="Agile Phases">
                        <div class="card-title">Phased Work</div>
                        <p>Don’t expect lengthy requirements. Following an Agile Scrum process, you'll start with <span class="strong"><i class="fa fa-map"></i> Inception</span> to understand the business problem, then build a <span class="strong"><i class="fa fa-rocket"></i> Proof of Concept</span> to demonstrate the feasibility of the solution. Finally, you'll build out the rest of the product in <span class="strong"><i class="fa fa-gears"></i> Implementation</span>.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="card card-flat card-black card-features text-center">
                    <div class="card-body">
                        <img class="card-img-top" style="height: 70px;" src="/img/open-source.png" alt="Open Source">
                        <div class="card-title">Open Source</div>
                        <p>Your team will own the code that's produced, but it will be published in GitHub under an open source license.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="card card-flat card-features text-center">
                    <div class="card-body">
                        <img class="card-img-top" style="height: 70px;" src="/img/money-sack.png" alt="Open Source">
                        <div class="card-title">Pricing &amp; Incentives</div>
                        <p>These are not time &amp; materials contracts! For each phase, you'll charge a fixed price for your interdisciplinary team to meet the deliverables for the time period. There's incentives to complete a phase early!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Qualify" style="background: #222;">
    <div class="container">
        <div class="row">
            <div class="section-teaser-inverse">
                <div class="section-teaser-inverse-headline">Qualify in minutes.</div>
                <div class="section-teaser-inverse-subhead">No more lengthy document writing.<br>Here's everything you need to qualify your company to apply on Sprint With Us opportunities.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="border-box-inverse">
                    <div class="border-box-inverse-headline">Sign In</div>
                    <div class="border-box-inverse-subhead">Sign in with your GitHub account.</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="border-box-inverse">
                    <div class="border-box-inverse-headline">Claim your capabilities</div>
                    <div class="border-box-inverse-subhead">Go to your profile and claim the capabilities and technical skills you possess.</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="border-box-inverse">
                    <div class="border-box-inverse-headline">Register Your Company</div>
                    <div class="border-box-inverse-subhead">Go to the Companies page and create a profile for your company.</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="border-box-inverse">
                    <div class="border-box-inverse-headline">Invite Members</div>
                    <div class="border-box-inverse-subhead">Inside your company profile, invite members. To apply for Sprint With Us opportunities, you need at least two members who collectively possess all of the Sprint With Us capabilities.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Evaluation">
    <div class="container">
        <div class="row">
            <div class="section-teaser">
                <div class="section-teaser-headline">The Evaluation Process.</div>
                <div class="section-teaser-subhead">Less investment to get in the game. Invest more only after you have a significant chance of winning and a platform that allows your team to shine.</div>
            </div>
            <h2>Applying</h2>
            <p class="lead">Submitting a proposal is a simple as telling us the team members you're putting forward, answering a series of brief questions about them, and providing a fixed price for the duration of the opportunity.</p>
            <h3>Shortlisting</h3>
            <p class="lead">To shortlist proposals, answers to the questions are scored blindly (that means the evaluators can't see the identity of the companies who submitted the answers). Dependent on the spread of resulting scores, the evaluation committee decides how many proposals to shortlist. Once they decide, the app reveals which companies made it onto the shortlist.</p>
            <p class="lead">You'll be notified right away so you can know if your team was shortlisted or not.</p>
            <h3>Code Challenge</h3>
            <p class="lead">If your team is shortlisted, they'll complete a code challenge to demonstrate their technical capability and ability to organize as a team.</p>
            <p class="lead">Code challenges are designed to require about 2 days of effort for a small development team. Your team will have 4 days.</p>
            <p class="lead"><a href="">See an example Code Challenge ></a></p>
            <h3>Team Scenario</h3>
            <p  class="lead">Lastly, as long as your team passes the code challenge with the minimum score, they'll meet with the evaluation panel to answer questions about their work during the code challenge, then take part in a mock sprint planning session with the product owner and scrum master to add features to the product.</p>
            <p class="lead"><a href="">See an example Team Scenario ></a></p>
        </div>
    </div>
</section>
<div class="banner banner-important">
  <div class="container">
    <i class="fa fa-comments"></i> <strong>Help Us Improve</strong><br>
    We are making procurement easier and the delivery of software continuous. Please <a href="mailto:bcdevexchange@gov.bc.ca?" analytics-on>share your feedback</a>!
  </div>
</div>
